@import '../App/App';

.Home {

  background: BackgroundColor

  .Hero {
    background: BackgroundColor
    background-image: url(/assets/images/wedding-443600.jpg)
    background-size: cover
    background-position: center
    height: 550px
  }
}
